<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asteroids_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,70}}</string>
				<key>sourceSize</key>
				<string>{75,70}</string>
			</dict>

			<key>asteroids_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,142},{73,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,78}}</string>
				<key>sourceSize</key>
				<string>{73,78}</string>
			</dict>

			<key>asteroids_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,214},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>asteroids_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,198},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>asteroids_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,198},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>asteroids_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,221},{32,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,29}}</string>
				<key>sourceSize</key>
				<string>{32,29}</string>
			</dict>

			<key>asteroids_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{32,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,29}}</string>
				<key>sourceSize</key>
				<string>{32,29}</string>
			</dict>

			<key>asteroids_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,221},{32,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,29}}</string>
				<key>sourceSize</key>
				<string>{32,29}</string>
			</dict>

			<key>asteroids_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,167},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>asteroids_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,183},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>asteroids_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,152},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>asteroids_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,70}}</string>
				<key>sourceSize</key>
				<string>{75,70}</string>
			</dict>

			<key>asteroids_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,0},{68,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,75}}</string>
				<key>sourceSize</key>
				<string>{68,75}</string>
			</dict>

			<key>asteroids_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,76},{68,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,75}}</string>
				<key>sourceSize</key>
				<string>{68,75}</string>
			</dict>

			<key>asteroids_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{68,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,75}}</string>
				<key>sourceSize</key>
				<string>{68,75}</string>
			</dict>

			<key>asteroids_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,105},{25,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,28}}</string>
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>

			<key>asteroids_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,76},{25,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,28}}</string>
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>

			<key>asteroids_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,221},{25,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,28}}</string>
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>

			<key>asteroids_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,103},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>asteroids_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,76},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>asteroids_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,221},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>asteroids_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{73,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,78}}</string>
				<key>sourceSize</key>
				<string>{73,78}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>asteroids_spritesheet.png</string>
			</dict>
		</dict>
</plist>