<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asteroids_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>

			<key>asteroids_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,118},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,59}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

			<key>asteroids_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{61,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,58}}</string>
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>

			<key>asteroids_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,57}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>

			<key>asteroids_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,177},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,59}}</string>
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>

			<key>asteroids_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,62}}</string>
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>

			<key>asteroids_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,62},{56,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>sourceSize</key>
				<string>{56,61}</string>
			</dict>

			<key>asteroids_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,178},{58,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,61}}</string>
				<key>sourceSize</key>
				<string>{58,61}</string>
			</dict>

			<key>asteroids_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,178},{57,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,61}}</string>
				<key>sourceSize</key>
				<string>{57,61}</string>
			</dict>

			<key>asteroids_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>asteroids_spritesheet.png</string>
			</dict>
		</dict>
</plist>